*{
    margin: 0;
}

body{
    background-color: #efe6dd;
    background-image: url(Img/FONDO.png);
    background-size: 750px;
    font-family: 'Delicious Handrawn', cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #9aa57e;
}

.frase img{
    height: 150px;
}

.logo img{
    height: 175px;
}

.menu{
    background-color: #efe6dd;
    box-shadow: 0 0 10px #000;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0 0px;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
}

ul li a{
    font-size: 25px;
    font-weight: normal;
    color: #000;
}

p{
    font-size: 35px;
}

.infoinicial{
    background-color: #efe6dd;
    margin: 30px 200px 20px;
    padding: 50px 50px 30px;
}
.infoblog{
    background-color: #efe6dd;
    margin: 30px 200px 20px;
    padding: 50px 50px 30px;
}

.infoinicial .infoinicio p{
    margin-bottom: 50px;
}

.infoinicial .infoblog1 p{
    margin-bottom: 50px;
    
}

.infoinicial .infoblog1 h2{
    font-size: 40px;
    margin-bottom: 50px;
}

.infoinicial .infoblog2 p{
    margin-bottom: 5px;
    font-size: 27px;
}

.infoinicial .infoblog2 h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.imginfoinicio img{
    height: 140px;
    margin: 0 70px;
}

.infoinicial nav ul{
    display: flex;
    justify-content: flex-start;
}
.infoinicial .imginfoinicio{
    display: flex;
    justify-content: center;
}

.imgblog{
    height: 500px;
}

.findepagina{
    background-color: #9aa57e;
    box-shadow: 0 0 10px #000;
    margin-top: auto;
}

.findepagina h3{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 50px;
    color: #fff;
}

.findepagina nav ul{
    display: flex;
    justify-content: center;
}

.findepagina img{
    height: 100px;
    padding: 50px 20px;
}

@media (max-width: 1000px) {
    header {
        text-align: center;
    }
    .frase img{
        height: 80px;
    }
    .logo img{
        height: 100px;
    }
    .infoinicial{
        margin: 30px 50px 20px;
    }
    .infoinicial nav ul{
        display: flex;
        justify-content: flex-start;
    }
    .infoinicial .imginfoinicio{
        display: flex;
        justify-content: center;
    }
    .infoblog{
        margin: 30px 20px 20px;
        padding: 50px 0px 30px;
    }
    .imginfoinicio img{
        height: 80px;
        margin: 0 15px;
    }
    .imgblog{
        height: 300px;
    }
    .infoinicial li .infoblog1{
        width: 100%;
    }
    .infoinicial li .infoblog2{
        width: 100%;
    }
    .infoinicial .infoblog1 p{
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    .infoinicial .infoblog1 h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .infoinicial .infoblog2 p{
        margin-bottom: 5px;
        font-size: 18px;
    }
    
    .infoinicial .infoblog2 h2{
        font-size: 12px;
        margin-bottom: 0px;
    }

    p{
        font-size: 25px;
    }
    ul li a{
        font-size: 30px;
    }
}

@media (max-height: 913px) {
    header {
        text-align: center;
    }
    .frase img{
        height: 80px;
    }
    .logo img{
        height: 100px;
    }
    .infoinicial{
        margin: 30px 100px 20px;
    }
    .infoinicial nav ul{
        display: flex;
        justify-content: flex-start;
    }
    .infoinicial .imginfoinicio{
        display: flex;
        justify-content: center;
    }
    .imginfoinicio img{
        height: 80px;
        margin: 0 15px;
    }
    .infoblog{
        margin: 30px 20px 20px;
        padding: 50px 0px 30px;
    }
    .imgblog{
        height: 300px;
    }
    .infoinicial li .infoblog1{
        width: 100%;
    }
    .infoinicial li .infoblog1{
        width: 100%;
    }
    .infoinicial .infoblog1 p{
        margin-bottom: 16px;
        font-size: 25px;
    }
    .infoinicial .infoblog1 h2{
        font-size: 30px;
        margin-bottom: 15Spx;
    }
    .infoinicial .infoblog2 p{
        margin-bottom: 5px;
        font-size: 17px;
    }
    .infoinicial .infoblog2 h2{
        font-size: 20px;
        margin-bottom: 15px;
    }
    p{
        font-size: 30px;
    }
    ul li a{
        font-size: 30px;
    }
}