.Contenido p{
    font-size: 35px;
    margin: 50px;
}

.Contenido h3{
    font-size: 40px;
    margin: 40px 0;
}

.Contenido img{
    height: 140px;
    margin: 0 70px 50px;
}

.Productos{
    display: flex;
    justify-content: space-around;
}

.Productos img{
    height: 450px;
    margin: 0 0 20px;
    box-shadow: 5px 5px 15px;
}

@media (max-width: 1500px) {
    .Contenido{
        margin: 0 10% 80px;
    }

    .Contenido p{
        margin: 30px 50px;
    }

    .Contenido img{
        height: 100px;
        margin: 0 2rem 50px;
    }
    
    .Productos img{
        margin: 0 0 15px;
    }
}

@media (max-width: 1780px) {
    .Productos img{
        height: 400px;
    }
}

@media (max-width: 1625px) {
    .Productos img{
        height: 300px;
    }
}

@media (max-width: 1185px) {
    .Productos img{
        height: 200px;
    }
}