*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #efe6dd;
    background-image: url(Img/FONDO.png);
    background-size: 750px;
    font-family: 'Delicious Handrawn', cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #9aa57e;
}

.frase img{
    height: 150px;
}

.logo img{
    height: 175px;
}

.menu{
    background-color: #efe6dd;
    box-shadow: 0 0 10px;
    height: 70px;
    margin-bottom: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
}

.menu a{
    margin: 0 20px;
    font-size: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #000;
}

.Contenido{
    background-color: #efe6dd;
    box-shadow: 0 0 10px;
    margin: 0 200px 80px;
}

.findepagina{
    background-color: #9aa57e;
    box-shadow: 0 0 10px #000;
    margin-top: auto;
}

.findepagina h3{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 50px;
    color: #fff;
}

.findepagina nav ul{
    display: flex;
    justify-content: center;
}

.findepagina img{
    height: 100px;
    margin: 50px 30px;
}

@media (max-width: 1250px) {
    .logo img{
        height: 100px;
    }
    .frase img{
        height: 80px;
    }
}

@media (max-height: 820px) {
    .logo img{
        height: 100px;
    }
    .frase img{
        height: 80px;
    }
}
